* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #131313;

}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background: #000;
	z-index: 9999;

}



.menu{
  flex:1;
  text-align: right;


}
.menu ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}
.menu ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}
.menu ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336 ;
  display: block;
  margin: auto;
  transition: 0.5s;

}
.menu ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #FFFFFF;


}
.text-box h1{
  font-size: 73px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__btn {
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;


}
.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.profile{
text-align: center;
color: #FFFFFF;
}
.profile h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.profilebox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.profilepic{
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
}

}
.profilepic .images{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

}
.profilepic .images img{
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;

}

.profilepic:hover{
  height: 400px;
}
.profilepic:hover .images img{
  opacity: 1;
}
.profilepic:before{
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: #fff;
  z-index: -1;
  filter: blur(5px);

}
.profilepic:before,
.profilepic:after
{
  background: linear-gradient(235deg,#89ff00,#010615,#00bcd4)
}

.profilepic:nth-child(2):before,
.profilepic:nth-child(2):after
{
  background: linear-gradient(235deg,#ff005e,#010615,#fbff00)
}

.profilepic:nth-child(3):before,
.profilepic:nth-child(3):after
{
  background: linear-gradient(235deg,#ff3300,#010615,#00cc00)
}
.profilepic:nth-child(4):before,
.profilepic:nth-child(4):after
{
  background: linear-gradient(235deg,#772aff,#010615,#2196f3)
}
.profilepic .names{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom:10px;
  height: 90px;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;

}
.profilepic:hover .names{
  opacity: 1;
  transition: 0.5s;
}
.profilepic .names h3{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
.profilepic .names h3 span{
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}
.teamname h3{
    font-size: 3rem;
    margin-top: 10px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.profile-content h3{
    font-size: 40px;
    margin-top: 10px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.profile-content p{

    margin: auto;
    width: 50%;
    text-align:justify;
}
.profile-content h4{
  font-size: 2rem;
}
.tools{
text-align: center;
color: #FFFFFF;
}
.tools p{
  width: 50%;
  text-align: justify;
  margin: auto;
}
.tools h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.it{
text-align: center;
color: #FFFFFF;
}
.it h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.it p{

    margin: auto;
    width: 50%;
    text-align:justify;
}
.it h3{
  font-size: 40px;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.techno{
text-align: center;
color: #FFFFFF;
}
.techno h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.techno h3 {
  font-size: 40px;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.techno p{
  margin: auto;
  width: 50%;
  text-align:justify;
}
.techno li{
  text-align:left;
  position: relative;left: 300px;

  margin-left: auto;

}
.techno h4{
  font-size: 30px;
}



.ideas{
text-align: center;
color: #FFFFFF;
}
.ideas h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.ideas h3{
  font-size: 40px;
margin-top: 10px;
background-color: #ff8177;
background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;

}
.ideas p{
  margin: auto;
  width: 50%;
  text-align:justify;

}

.fb{
text-align: center;
color: #FFFFFF;
}
.fb h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.column {
  float: left;
  width: 33.33%;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.fb h3{
  font-size: 40px;
margin-top: 10px;
background-color: #ff8177;
background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;

}
footer{
  font-family: "Muli", sans-serif;
	background: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
	margin: 0;
	text-align: center;
	color: #fff;
}
